.page-not-found {
  height: 40%;
  text-align: center;
  color: red;
  margin-top: 29%;
  text-align: center;
  position: relative;
  bottom: 230px;
  h1 {
    font-size: 40px;
    font-weight: 500;
  }
}
